.tweet-waaper
  %section.tweet-head
    %h1.title hajiTweet
  %section.tweet-body
    .contents
      .tweet-image
        = image_tag "verification/doraemon.png", alt: "写真", class: "myImage"
      .tweet-text
        %p.my-tweet
          aaaaaaaaaaa
