.head-contena
  .section-title
    %h1.title hajiTweet
  .section-items
    .link-newUser
      = link_to "新規登録", "#",{class:"link-text"}
    .link-login
      = link_to "ログイン", "#",{class:"link-text"}
